@font-face {
  font-family: "century-schoolbook";
  src: url("/font/C059-BdIta.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "century-schoolbook";
  src: url("/font/C059-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "century-schoolbook";
  src: url("/font/C059-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "century-schoolbook";
  src: url("/font/C059-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

