@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");

body {
  font-family: "century-schoolbook", "Noto Serif JP", serif;
  color: black;
  font-weight: 500;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;

  width: 95%;

  @media (min-width: 640px) { 
    width: 90%;
    margin-top: 2rem;
  }
  @media (min-width: 768px) { 
    width: 80%;
    margin-top: 4rem;
  }
  @media (min-width: 1024px) { 
    width: 70%;
    margin-top: 6rem;
   }
  @media (min-width: 1280px) { 
    width: 60%;
   }
  @media (min-width: 1536px) {
    width: 50%;
  }
}

header {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid black;
  margin-top: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

nav.menu ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 1rem;
}

nav.menu ul li {
  margin: 4px;
}

nav.menu ul li a {
  padding: 4px 8px;
  background-color: #ededed;
  border-radius: 8px;
  transition-duration: 0.333s;
}

nav.menu ul li a:hover {
  background-color: #e2e2e2;
}

section {
  margin-top: 2rem;
}

/* Headings style copied from Bootstrap Reboot */
h6, h5, h4,
h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  text-align: justify;
}

.muted {
  color: gray;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
  margin: 16px 0;
}

time {
  font-style: italic;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
}

a {
  color: #537dfc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222128;
    color: white;
  }

  header {
    border-bottom: 1px solid white;
  }

  footer {
    border-top: 1px solid white;
  }

  nav.menu ul li a {
    background-color: #333333;
  }

  nav.menu ul li a:hover {
    background-color: #444444;
  }

  table,
  th, td {
    border-color: white;
  }
}
